@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~@fortawesome/fontawesome-free/css/all.css';

.mt-120 {
    margin-top: 120px;
}

.mb-20 {
    margin-bottom: 20px;
}


.layout {
    margin: 20px 0 0 0;
}

@media(min-width: 768px) {
    .menu {
        border-right: 1px solid #f7eded;
        height: 557px;
    }

    .layout {
        margin: 120px 0 0 0;
    }
}

.menu li a {
    color: #797878;
    display: block;
    margin: 0 0 15px 0;
}

.menu li a.active {
    color: #007bff;
}

.menu li a:hover {
    text-decoration: none;
}

.user-profile {
    margin-bottom: 35px;
    display: flex;
    align-items: center;
}

.user-profile .name {
    margin-bottom: 5px;
}

.avatar {
    width: 50px;
    height: 50px;
    color: #fff;
    border-radius: 50%;
    background: #007bff;
    line-height: 50px;
    text-align: center;
    margin-right: 10px;
    user-select: none;
}

.actions {
    cursor: pointer;
    color: #bbb7b7;
    float: right;
}

tr:not(:first-child) {
    background: #f9f9f9;
}

td {
    vertical-align: middle;
}

.actions-wrapper > button, .actions-wrapper > button:hover, .actions-wrapper > button:focus, .actions-wrapper > button:active {
    background-color: transparent !important;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
    float: right;
    padding: 0;
}

.actions-wrapper .dropdown-menu {
    font-size: 14px;
}

.actions-wrapper .dropdown-menu i {
    margin-right: 6px;
}

.actions-wrapper .dropdown-item {
    cursor: pointer;
    padding-left: 15px;
}

.flex-center {
    display: flex;
    align-items: center;
}

@media(min-width: 768px) {
    .flex-center-sm {
        display: flex;
        align-items: center;
    }
}

.ml-auto {
    margin-left: auto;
}

tr:not(:first-child) {
    background: #fbfbfb;
}

.access-select {
    width: 120px;
}

.mb-33 {
    margin-bottom: 33px;
}

.mt-23 {
    margin-top: 23px;
}

td, th {
    vertical-align: middle !important;
}

.error-label {
    text-transform: capitalize;
}

.errors-list ul {
    padding: 0 14px;
    margin: 0;
}

.input-search {
    width: 320px;
    position: relative;
    margin-right: 12px;
}

.input-search i {
    position: absolute;
    right: 8px;
    bottom: 10px;
    color: #3a3939;
}

.input-search .form-control {
    padding-right: 28px;
}

.input-search, .btn-add {
    display: inline-block;
}

.btn-add {
    padding: 6px 10px;
}

@media(max-width: 768px) {
    .mt-28-xs {
        margin-top: 23px;
    }
}

.lds-ripple {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}

.loading {
    text-align: center;
    margin-top: 123px;
}

.lds-ripple div {
    position: absolute;
    border: 4px solid #007bff;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
}

@keyframes lds-ripple {
    0% {
        top: 28px;
        left: 28px;
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        top: -1px;
        left: -1px;
        width: 58px;
        height: 58px;
        opacity: 0;
    }
}